{{#if auth}}
<!-- MOBILE Topbar -->
<div class="arlo_tm_topbar">
    <div class="topbar_inner">
        <div class="container">
            <div class="topbar_in">
                <div class="logo">
                    <a href="#"><img src="img/logo/mobile.png" alt="" /></a>
                </div>
                <div class="trigger">
                    <a href="#">
                        <span class="menu">Menu</span>
                        <span class="close">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <div class="container">
            <div class="dropdown_inner">
                <ul>
                    <li><a href="#" id="homeMobile">Home</a></li>
                    <li>
                        <a href="/edit" id="editMobile">Edit Experience
                        </a>
                    </li>
                    <li>
                        <a href="/bio" id="bioMobile">Edit Bio
                        </a>
                    </li>
                    <li><a href="/add" id="addMobile">+ Experience</a></li>
                    <li><a href="/quote" id="quoteMobile">+ Quote</a></li>
                    <li><a href="/out" id="outMobile">Logout</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Topbar -->

<!-- CLASSIC MENU -->
<div class="arlo_tm_classic_menu">
    <div class="container">
        <div class="inner">
            <div class="logo">
                <img class="light" src="img/logo/mobile-light.png" alt="" />
                <img class="dark" src="img/logo/mobile.png" alt="" />
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#" id="homeDesktop">Home</a></li>
                    <li>
                        <a href="/edit" id="edit">Edit Experience
                        </a>
                    </li>
                    <li>
                        <a href="/bio" id="bio">Edit Bio
                        </a>
                    </li>
                    <li><a href="/add" id="add">+ Experience</a></li>
                    <li><a href="/quote" id="quote">+ Quote</a></li>
                    <li><a href="/out" id="out">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- CSP Btn Navigation -->
<script nonce='{{cspNonce}}' src='/js/navigation.js'></script>
{{/if}}