{{#if auth}}
<!-- Topbar -->
<div class="arlo_tm_topbar">
    <div class="topbar_inner">
        <div class="container">
            <div class="topbar_in">
                <div class="logo">
                    <a href="#"><img src="img/logo/mobile.png" alt="" /></a>
                </div>
                <div class="trigger">
                    <a href="#">
                        <span class="menu">Menu</span>
                        <span class="close">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <div class="container">
            <div class="dropdown_inner">
                <ul>
                    <li><a href="/" onclick="window.location.href='/';">Home</a></li>
                    <li>
                        <a href="/edit" onclick="window.location.href='/edit';">Edit Experience
                        </a>
                    </li>
                    <li>
                        <a href="/edit" onclick="window.location.href='/about';">Edit Bio
                        </a>
                    </li>
                    <li><a href="/add" onclick="window.location.href='/add';">Add</a></li>
                    <li><a href="/quote" onclick="window.location.href='/quote';">Quote</a></li>
                    <li><a href="/out" onclick="window.location.href='/out';">Logout</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Topbar -->

<!-- CLASSIC MENU -->
<div class="arlo_tm_classic_menu">
    <div class="container">
        <div class="inner">
            <div class="logo">
                <img class="light" src="img/logo/mobile-light.png" alt="" />
                <img class="dark" src="img/logo/mobile.png" alt="" />
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/" onclick="window.location.href='/';">Home</a></li>
                    <li>
                        <a href="/edit" onclick="window.location.href='/edit';">Edit Experience
                        </a>
                    </li>
                    <li>
                        <a href="/edit" onclick="window.location.href='/bio';">Edit Bio
                        </a>
                    </li>
                    <li><a href="/add" onclick="window.location.href='/add';">Add</a></li>
                    <li><a href="/quote" onclick="window.location.href='/quote';">Quote</a></li>
                    <li><a href="/out" onclick="window.location.href='/out';">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /CLASSIC MENU -->
{{/if}}