<!DOCTYPE html>
<html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

{{>_head}}

{{>_othernav}}

<body class="dark classic">

    <!-- PRELOADER -->
    <div class="arlo_tm_preloader">
        <div class="spinner_wrap">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- WRAPPER ALL -->
    <div class="arlo_tm_all_wrap">
        <div class="wrapper_inner">
            <!-- RIGHTPART -->
            <div class="arlo_tm_rightpart">
                <div class="rightpart_inner">

                    {{{body}}}
                </div>
            </div>
            <!-- RIGHTPART -->
        </div>
    </div>
    <!-- WRAPPER ALL -->
    <!-- SCRIPTS -->
    <script nonce='{{cspNonce}}' src="/js/jquery.js"></script>
    <!--[if lt IE 10]> <script type="text/javascript" src="/js/ie8.js"></script> <![endif]-->

    <script nonce='{{cspNonce}}' src="/js/plugins.js"></script>

    <script nonce='{{cspNonce}}' src="/js/init.js"></script>
    <!-- /SCRIPTS -->

</body>

</html>