<!-- HERO -->
<div class="arlo_tm_section" id="home">
    <div class="arlo_tm_hero_header">
        <div class="hero_image jarallax" data-img-url="img/slider/7.jpg" data-speed="0"></div>
        <div class="overlay"></div>
        <div class="hero_content">
            <div class="image_wrap">
                <img src="img/about/500x500.jpg" alt="" />
                <div class="main" data-img-url="{{user.profileImg}}"></div>
            </div>
            <div class="name_holder">
                <h3>{{user.firstName}} <span>{{user.lastName}}</span></h3>
            </div>
            <div class="text_typing" style="padding-bottom:20px">
                <p style="font-size: 1.5em;"><strong>KNOW ME AS A</strong></p>
            </div>

            {{!-- Buttons --}}
            <div class="buttons" style="backgorund-color: #000">
                <ul>
                    <li><a href="/hotelier"><span>Hotelier</span></a></li>
                    <li><a href="/developer"><span>Developer</span></a></li>
                </ul>
            </div>
            {{!-- Buttons --}}

        </div>
    </div>
</div>
<!-- /HERO -->